.background-stable {
    background-color: #FDB413;
}

.content-stable {
    background-color: #E8E8E8 !important;
}

.segment-md .segment-button {
    color: #484848;
}

.segment-md .segment-button.activated,
.segment-md .segment-button.segment-activated {
    border-color: #484848;
    opacity: 1;
}

.span-style-color {
    color: #484848;
}