<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>
            <span>{{ 'VAGA_DETALHE' | translate }}</span>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="content-stable">

    <!-- <ion-card text-wrap *ngIf="vagaDetalheEntity?.length > 0"> -->
    <!-- <button ion-button full style="margin-top: 0px;height: 50px;">
      <span style="margin-left: 65%;"> 
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>{{ 'BTN_CANDIDATAR_VAGA' | translate }}
      </span>
    </button> -->

    <!-- <ion-list class="content-stable"> -->
    <div *ngIf="vagaDetalheEntity.nomeEmpresa">
        <!-- <ion-item class="content-stable" *ngIf="!candidatado"> -->
        <ion-item class="content-stable">
            <!-- <p><span *ngIf="previewPage == 'PrincipalPage' && candidatado">Você já se candidatou à esta vaga</span></p> -->
            <button ion-button clear item-end icon-left *ngIf="!candidatado" style="margin-top: 20px;" (click)="verificaCandidatoVaga(vagaDetalheEntity.idVaga)">
                <ion-icon *ngIf="!candidatado" ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
                <h3 *ngIf="!candidatado">{{ 'BTN_CANDIDATAR_VAGA' | translate }}</h3>
            </button>
            <button ion-button clear item-end icon-left color="danger" *ngIf="candidatado" style="margin-top: 20px;" (click)="verificaCandidatoVaga(vagaDetalheEntity.idVaga)">
                <ion-icon *ngIf="candidatado" ios="ios-close" md="md-close"></ion-icon>
                <h3 *ngIf="candidatado">{{ 'BTN_DESCARTAR_VAGA' | translate }}</h3>
            </button>
        </ion-item>
        <!-- </ion-list> -->

        <!-- <button ion-button icon-left clear full style="margin-top: 20px;" (click)="candidatarVaga(vagaDetalheEntity.idVaga)">
      <div style="margin-right: -65%; text-align: center;">
      <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
        {{ 'BTN_CANDIDATAR_VAGA' | translate }}
      </div>  
    </button> -->

        <ion-card text-wrap>
            <ion-item>
                <!-- <p>{{ 'SERVICO' | translate}}: {{ vagaDetalheEntity.nomeTipoServico }}</p> -->
                <!-- <p><strong>{{ vagaDetalheEntity.nome }}</strong></p> -->
                <p>{{ 'STATUS_VAGA' | translate }}: {{ vagaDetalheEntity.statusVaga }}</p>
                <p>
                    <ion-icon ios="ios-briefcase" md="md-briefcase" class="margin-icon"></ion-icon> {{ vagaDetalheEntity.nomeEmpresa }}</p>
                <p>
                    <ion-icon ios="ios-briefcase" md="md-briefcase" class="margin-icon"></ion-icon> {{ vagaDetalheEntity.nomeFornecedor }}</p>
                <p>
                    <ion-icon ios="ios-locate" md="md-locate" class="margin-icon"></ion-icon> {{ vagaDetalheEntity.cidadeEstadoFormat }}</p>
                <p>
                    <ion-icon ios="ios-cash" md="md-cash" class="margin-icon"></ion-icon> {{ 'SALARIO_VAGA' | translate }}: {{ vagaDetalheEntity.salario }}</p>
                <p>
                    <ion-icon ios="ios-contacts" md="md-contacts" class="margin-icon"></ion-icon> {{ 'GENERO' | translate }}: {{ vagaDetalheEntity.sexoFormat }}</p>
                <p>
                    <ion-icon ios="ios-calendar" md="md-calendar" class="margin-icon"></ion-icon> {{ 'ABERTURA_VAGA' | translate }}: {{ vagaDetalheEntity.dataInicialFormat }}</p>
                <p>
                    <ion-icon ios="ios-alarm" md="md-alarm" class="margin-icon"></ion-icon> {{ 'TURNO' | translate }}: {{ vagaDetalheEntity.turno }}</p>
                <p>
                    <ion-icon ios="ios-man" md="md-man" class="margin-icon"></ion-icon>
                    {{ 'VAGAS_DISPONIVEIS' | translate }}: {{ vagaDetalheEntity.qtdVaga }}</p>
            </ion-item>
            <ion-item class="border-top-color">
                <p><strong>Nível do idioma Japonês exigido</strong></p>
                <p>Grau de entendimento: {{ vagaDetalheEntity.grauEntendimentoEnum }}</p>
                <p>Grau de escrita: {{ vagaDetalheEntity.grauEscritaEnum }}</p>
                <p>Grau de fala: {{ vagaDetalheEntity.grauFalaEnum }}</p>
            </ion-item>
            <ion-item class="border-top-color">
                <p><strong>Detalhe da vaga</strong></p>
                <p>{{ vagaDetalheEntity.nome }}</p>
                <p>{{ vagaDetalheEntity.descricao }}</p>
            </ion-item>
        </ion-card>

    </div>
</ion-content>