<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>
            <span>{{ 'VAGA_DETALHE' | translate }}</span>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="content-stable">

    <!-- <ion-card text-wrap *ngIf="vagaDetalheEntity?.length > 0"> -->
    <!-- <button ion-button full style="margin-top: 0px;height: 50px;">
      <span style="margin-left: 65%;"> 
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>{{ 'BTN_CANDIDATAR_VAGA' | translate }}
      </span>
    </button> -->

    <!-- <ion-list class="content-stable"> -->
    <div *ngIf="vagaDetalheEntity.length != undefined ">
        <ion-item class="content-stable">
            <button ion-button clear item-end icon-left style="margin-top: 20px;" (click)="candidatarVaga(vagaDetalheEntity.idVaga)">
            <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
            <h3>{{ 'BTN_CANDIDATAR_VAGA' | translate }}</h3>
        </button>
        </ion-item>
        <!-- </ion-list> -->

        <!-- <button ion-button icon-left clear full style="margin-top: 20px;" (click)="candidatarVaga(vagaDetalheEntity.idVaga)">
      <div style="margin-right: -65%; text-align: center;">
      <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
        {{ 'BTN_CANDIDATAR_VAGA' | translate }}
      </div>  
    </button> -->

        <ion-card text-wrap>
            <ion-item>
                <!-- <p>{{ 'SERVICO' | translate}}: {{ vagaDetalheEntity.nomeTipoServico }}</p> -->
                <!-- <p><strong>{{ vagaDetalheEntity.nome }}</strong></p> -->
                <p>
                    <ion-icon ios="ios-briefcase" md="md-briefcase" class="margin-icon"></ion-icon> {{ vagaDetalheEntity.nomeEmpresa }}</p>
                <p>
                    <ion-icon ios="ios-briefcase" md="md-briefcase" class="margin-icon"></ion-icon> {{ vagaDetalheEntity.nomeFornecedor }}</p>
                <p>
                    <ion-icon ios="ios-locate" md="md-locate" class="margin-icon"></ion-icon> {{ vagaDetalheEntity.cidadeEstadoFormat }}</p>
                <p>
                    <ion-icon ios="ios-cash" md="md-cash" class="margin-icon"></ion-icon> Salário: {{ vagaDetalheEntity.salario }}</p>
                <p>
                    <ion-icon ios="ios-contacts" md="md-contacts" class="margin-icon"></ion-icon> Sexo: {{ vagaDetalheEntity.sexoFormat }}</p>
                <p>
                    <ion-icon ios="ios-calendar" md="md-calendar" class="margin-icon"></ion-icon> Abertura da vaga: {{ vagaDetalheEntity.dataInicialFormat }}</p>
                <p>
                    <ion-icon ios="ios-alarm" md="md-alarm" class="margin-icon"></ion-icon> Turno: {{ vagaDetalheEntity.turno }}</p>
                <p>
                    <ion-icon ios="ios-man" md="md-man" class="margin-icon"></ion-icon>
                    Vagas disponíveis: {{ vagaDetalheEntity.qtdVaga }}</p>
            </ion-item>
            <ion-item class="border-top-color">
                <p><strong>Nível do idioma Japonês exigido</strong></p>
                <p>Grau de entendimento: {{ vagaDetalheEntity.grauEntendimentoEnum }}</p>
                <p>Grau de escrita: {{ vagaDetalheEntity.grauEscritaEnum }}</p>
                <p>Grau de fala: {{ vagaDetalheEntity.grauFalaEnum }}</p>
            </ion-item>
            <ion-item class="border-top-color">
                <p><strong>Detalhe da vaga</strong></p>
                <p>{{ vagaDetalheEntity.nome }}</p>
            </ion-item>
        </ion-card>

    </div>
</ion-content>