<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="margin-top: 8px;">
            <span>{{ 'TITLE_RESPOSTA' | translate }}</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">
    <ion-card *ngIf="detalheCotacaoEntity.nomeServico != null" text-wrap style="margin-bottom: 60px;">
        <!-- <div padding *ngIf="detalheCotacaoEntity.statusCotacaoEnum == 'CONCLUIDO'">
            <p *ngIf="detalheCotacaoEntity.avaliacaoFornecedor == null">
                <ion-icon ios="ios-star" md="md-star" color="secondaryColor" (click)="modalAvaliacao(fab)"> Avalie o serviço deste fornecedor</ion-icon>
            </p>
            <p *ngIf="detalheCotacaoEntity.avaliacaoFornecedor != null">
                <span style="color: #1E7F41">{{ 'LABEL_AVALIADO' | translate }} {{detalheCotacaoEntity.avaliacaoFornecedor}} {{ 'LABEL_ESTRELA' | translate }}</span>
            </p>
        </div> -->

        <div padding style="margin-top: -10px;">
            <p>{{ 'NUMERO_ORCAMENTO' | translate }}: <b>{{ detalheCotacaoEntity.idOrcamentoFormat }}</b></p>
            <p class="capitalized">{{ 'STATUS' | translate }}: <b [ngClass]="{RESPONDIDO:'corAzul', ABERTO:'corVerde',CONCLUIDO:'corVermelha'}[detalheCotacaoEntity.statusCotacaoEnum]">{{ detalheCotacaoEntity.statusCotacaoEnum | lowercase }}</b></p>
            <p>{{ 'LABEL_ABERTO_EM' | translate }}: {{ detalheCotacaoEntity.dataCadastroFormat }}</p>
            <p>{{ 'SOLICITACAO_PARA' | translate }}: {{ detalheCotacaoEntity.dataSolicitacaoFormat }}</p>
            <p>{{ 'SERVICO' | translate }}: {{ detalheCotacaoEntity.nomeServico }}</p>
            <p>{{ 'QTD_SERVICO' | translate }}: {{ detalheCotacaoEntity.quantidade }}</p>
            <p>{{ 'LABEL_OBS_CLIENTE' | translate }}: {{ detalheCotacaoEntity.descricao }}</p>
            <hr style="border-top: 1px solid #999;">
        </div>

        <ion-card-header style="margin-top: -20px;">
            <b>{{ 'LABEL_DADOS_FORNECEDOR' | translate }}</b>
        </ion-card-header>
        <ion-card-content>
            <p><b>{{ detalheCotacaoEntity.nomeFornecedor }}</b>
            </p>
            <p *ngIf="!detalheCotacaoEntity.avaliacaoFornecedor">
                <span style="color: #FFB400; font-size: 12px;"><b>{{ 'LABEL_NOVO' | translate }}</b></span>
            </p>

            <div *ngIf="detalheCotacaoEntity.avaliacaoFornecedor" style="margin-bottom: 10px;">
                <div>
                    <span style="color: #555;"><b>{{ detalheCotacaoEntity.avaliacaoFornecedorFormat }} </b></span>
                    <rating style="text-align: right; color: #FFB400" [(ngModel)]="detalheCotacaoEntity.avaliacaoFornecedor" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
                    </rating>
                    <p><span class="corAzul" *ngIf="detalheCotacaoEntity.qtdAvaliacoes == 1">{{ detalheCotacaoEntity.qtdAvaliacoes }} {{ 'LABEL_AVALIE_SERVICO' | translate }}</span></p>
                    <p><span class="corAzul" *ngIf="detalheCotacaoEntity.qtdAvaliacoes > 1">{{ detalheCotacaoEntity.qtdAvaliacoes }} {{ 'LABEL_AVALIE_SERVICO_PLURAL' | translate }}</span></p>
                </div>
            </div>

            <p>E-mail: {{ detalheCotacaoEntity.emailFornecedor }}</p>
            <p *ngIf="detalheCotacaoEntity.siteFornecedor">Website: {{ detalheCotacaoEntity.siteFornecedor }}</p>
            <p>{{ detalheCotacaoEntity.nomeCidade }} - {{ detalheCotacaoEntity.nomeEstado }}</p>
            <!-- <p>{{ 'PROVINCIA' | translate }}: {{ detalheCotacaoEntity.nomeEstado }}</p> -->
            <p>{{ 'ENDERECO' | translate }}: {{ detalheCotacaoEntity.enderecoFornecedorFormat }}</p>

            <ion-grid>
                <ion-row>
                    <ion-col col-6 style="margin-left: -20px;">
                        <a ion-button clear item-end href="tel:+{{ detalheCotacaoEntity.telefoneFornecedor }}" class="a-style-button-phone">
                            <ion-chip style="width: 170px;">
                                <ion-icon ios="ios-call" md="md-call"></ion-icon>
                                <ion-label style="line-height: 2.3;"><b> {{ detalheCotacaoEntity.telefoneFornecedor }} </b></ion-label>
                            </ion-chip>
                        </a>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6 style="margin-left: -20px;" *ngIf="detalheCotacaoEntity.telefone2Fornecedor">
                        <a ion-button clear item-end href="tel:+{{ detalheCotacaoEntity.telefone2Fornecedor }}" class="a-style-button-phone">
                            <ion-chip style="width: 170px;">
                                <ion-icon ios="ios-call" md="md-call"></ion-icon>
                                <ion-label style="line-height: 2.3;"><b> {{ detalheCotacaoEntity.telefone2Fornecedor }} </b></ion-label>
                            </ion-chip>
                        </a>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <hr style="border-top: 1px solid #999;">
        </ion-card-content>

        <ion-card-header style="margin-top: -20px;">
            <b>{{ 'LABEL_DADOS_RESPOSTA' | translate }}</b>
        </ion-card-header>
        <ion-card-content>
            <p>{{ 'VALOR' | translate }}: ¥{{ detalheCotacaoEntity.valorTotalFormat }}</p>
            <p>{{ 'TIPO_PAGAMENTO' | translate }}: {{ detalheCotacaoEntity.tipoPagamento }}</p>
            <!-- <p>{{ 'PRAZO_PAGAMENTO' | translate }}: {{ detalheCotacaoEntity.prazoPagamento }}</p> -->
            <p>{{ 'DATA_ENTREGA' | translate }}: {{ detalheCotacaoEntity.dataEntregaFormat }}</p>
            <p>{{ 'VALIDADE_ORCAMENTO' | translate }}: {{ detalheCotacaoEntity.validadeFormat }}</p>
            <p>{{ 'OBSERVACAO' | translate }}: {{ detalheCotacaoEntity.observacaoFornecedor }}</p>

        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer *ngIf="detalheCotacaoEntity.idCotacao != null && detalheCotacaoEntity.statusCotacaoEnum == 'RESPONDIDO'" style="background-color: #fff;">
    <ion-grid>
        <ion-row>
            <ion-col no-padding>
                <button no-margin ion-button full icon-end color="primary" (click)="modalImagensFornecedor()">
                        <span class="span-style" style="font-size: 12px;"><b>{{ 'LABEL_GALERIA_IMGS' | translate }}</b></span>
                    </button>
            </ion-col>
            <ion-col no-padding>
                <button no-margin ion-button full icon-end color="secondaryColor" (click)="escolherCotacaoConfirm()">
                        <span class="span-style" style="font-size: 11px;"><b>{{ 'BTN_ESCOLHER_ORCAMENTO' | translate }}</b></span>
                        <!-- <ion-icon ios="ios-paper-plane" md="md-paper-plane"></ion-icon> -->
                    </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>