page-configuracoes {
    .bandeiras-style {
        width: 25px!important;
        height: auto!important;
        margin-left: 85%!important;
        margin-top: -15px!important;
    }
    .font-size-select {
        font-size: 14px;
    }
    .alert-radio-label {
        white-space: normal!important;
    }
}