<ion-header>

    <ion-navbar>
        <ion-title>menu</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <!-- <ion-item menu-close ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.no-click]="p.isVisible==false">
            <ion-icon [name]="p.icon" item-left item-start color="menuIconColor"></ion-icon>
            <h4 *ngIf='p.isVisible'>{{p.title}}</h4>
        </ion-item> -->
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.no-click]="p.isVisible==false">
          <ion-icon [name]="p.icon" item-left item-start color="menuIconColor" *ngIf='p.isVisible'></ion-icon>
          <h4 *ngIf='p.isVisible'>{{p.title }}</h4>
        </button>

        <ion-item menu-close ion-item color="white" (click)="logout()" class="my-position-button">
            <ion-icon ios="ios-exit" md="ios-exit" item-start color="menuIconColor"></ion-icon>
            {{ 'SAIR' }}
        </ion-item>
    </ion-list>
</ion-content>