page-home {
    .logo-style {
        display: block;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 30px;
        margin-bottom: -10px;
        padding: 10px;
    }
    .span-style {
        font-size: 13px;
        position: fixed;
    }
    .style-right-icon-facebook {
        margin-right: 100%;
    }
    .style-right-icon {
        margin-right: 100%;
        color: #484848;
    }
    .text-under-logo {
        margin-bottom: -10px;
        text-align: center;
    }
    #custom-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        width: 100%;
        background-color: #002a3e;
    }
    .flb {
        background-color: #3ebffb;
        height: 100%;
        width: 100%;
        animation: pulse 1s linear forwards;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Aligner-item {
        max-width: 50%;
    }
    .Aligner-item--top {
        align-self: flex-start;
    }
    .Aligner-item--bottom {
        align-self: flex-end;
    }
    #custom-overlay img {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: auto;
        animation: animation 3100ms linear infinite both;
        animation-delay: 1s;
    }
    @keyframes pulse {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}