page-home {
    .logo-style {
        display: block;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 10px;
    }
}