<ion-header>
    <!-- <ion-navbar color="navbarColor"> -->
    <ion-navbar>
        <ion-title>
            Filtrar vagas
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="closeModal()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <span>Local</span>
        <ion-item>
            <ion-label stacked>{{ 'PROVINCIA' | translate }}</ion-label>
            <ion-select [(ngModel)]="usuarioDetalheEntity.idEstado" (ionChange)="getCidadesByEstadoPopOver(usuarioDetalheEntity.idEstado)" cancelText="CANCELAR">
                <ion-option *ngFor="let estado of estados" value="{{estado.idEstado}}">{{estado.nome}}</ion-option>
            </ion-select>
        </ion-item>
        <!-- <div *ngIf="!dadosUsuarioForm.get('idEstado').valid && dadosUsuarioForm.get('idEstado').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div> -->

        <ion-item>
            <ion-label>Província</ion-label>
            <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Cidade</ion-label>
            <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Grau entendimento idioma Japonês</ion-label>
            <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Grau fala idioma Japonês</ion-label>
            <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Grau escrita idioma Japonês</ion-label>
            <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <!-- <ion-item>
                <ion-label>English</ion-label>
                <ion-checkbox (click)="activateEnglish()"></ion-checkbox>
            </ion-item> -->
    </ion-list>
    <!-- <ion-list>
            <ion-list-header>Ionic</ion-list-header>
            <button ion-item (click)="close()">Learn Ionic</button>
            <button ion-item (click)="close()">Documentation</button>
            <button ion-item (click)="close()">Showcase</button>
            <button ion-item (click)="close()">GitHub Repo</button>
        </ion-list> -->

</ion-content>