<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
        <ion-title>
            {{ 'TITLE_RESPOSTAS' | translate }}
        </ion-title>
        <!-- <ion-buttons end *ngIf="orcamentosList?.length > 0">
          <button ion-button icon-only (click)="showFilter = !showFilter">
                      <ion-icon ios="ios-search" md="md-search"></ion-icon>
                  </button>
      </ion-buttons> -->
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">
    <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" *ngIf="cotacoesRespondidasList?.length == 0">
        <div style="text-align: center;color: #484848;"><strong>{{ 'LABEL_NAO_EXISTE_ORCAMENTO' | translate }} {{ status | lowercase}}</strong></div>
        <div style="text-align: center;">
            <ion-icon style="font-size: 30px;color: #484848;" ios="ios-albums" md="md-albums"></ion-icon>
        </div>
    </div>

    <ion-list>
        <button ion-item *ngFor="let cotacao of cotacoesRespondidasList" (click)="openDetalhaCotacao(cotacao.idCotacao)">
          <!-- <h4 style="color: #66667D;">Nr. Orçamento: <strong>{{ cotacao.idOrcamento }}</strong></h4> -->
            <p>
                <span style="color: #66667D;"><b>{{ cotacao.nomeFornecedor }}</b></span> 
                <span *ngIf="!cotacao.avaliacaoFornecedor" style="color: #FFB400; float: right; font-size: 12px;"><b>NOVO</b></span>
                <span *ngIf="cotacao.avaliacaoFornecedor" style="float: right;">
                    <ion-icon name="star" style="color: #FFB400">  <b>{{ cotacao.avaliacaoFornecedor }}</b></ion-icon>
                </span>
            </p>
          <p><span style="color: #66667D;">Endereço: {{ cotacao.enderecoFornecedorFormat }}</span></p>
          <!-- <span *ngIf="cotacao.avaliacaoFornecedor">
                <ion-icon name="star" style="color: #FFB400">  {{ cotacao.avaliacaoFornecedor }}</ion-icon>
            </span>
            <span *ngIf="!cotacao.avaliacaoFornecedor" style="color: #FFB400"><b>NOVO</b></span> -->
        </button>
    </ion-list>


</ion-content>