<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
        <ion-title>
            <span>{{ 'VAGA_CANDIDATADAS' | translate }}</span>
        </ion-title>
        <ion-buttons end *ngIf="vagas?.length > 0">
            <button ion-button icon-only (click)="showFilter = !showFilter">
                <ion-icon ios="ios-search" md="md-search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">
    <ion-searchbar (search)="filtrarPorNomeVaga($event)" (ionClear)="onCancelFilter($event)" (ionInput)="onInputFilter($event);" *ngIf="showFilter" placeholder="Buscar"></ion-searchbar>

    <div padding text-wrap *ngIf="vagas?.length > 0" class="div-vagas-candidatadas">
        <span>
                    <b>{{ 'VAGAS_ENCERRADAS_LABEL' | translate }}</b>
                </span>
    </div>

    <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" *ngIf="vagas?.length == 0">
        <div style="text-align: center;color: #484848;"><strong>{{ 'NAO_CANDIDATADO_NENHUMA_VAGA' | translate }}</strong></div>
        <div style="text-align: center;">
            <ion-icon style="font-size: 30px;color: #484848;" ios="md-sad" md="md-sad"></ion-icon>
        </div>
    </div>

    <ion-list style="margin-top: 50px;">
        <button ion-item *ngFor="let vaga of vagas" text-wrap (click)="detalheVagaCandidatada(vaga.idVaga)">
            <p><strong>{{ vaga.nome }}</strong></p>
            <p>{{ vaga.nomeFornecedor }}</p>
            <p style="color: #999 ">
                <ion-icon name="calendar" class="margin-icon"></ion-icon>{{ 'DATA_CANDIDATURA' | translate }}: {{ vaga.dataCandidatadaFormat }}
            </p>
        </button>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>