<ion-header>

    <ion-navbar color="navbarColor">
        <ion-title>{{ 'NOVO_ORCAMENTO' | translate }}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-list-header *ngFor="let item of listServicos; let i = index" no-lines no-padding>
        <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
              <ion-icon item-left name="add" *ngIf="!item.open"></ion-icon>
              <ion-icon item-left name="close" *ngIf="item.open"></ion-icon>
                <span style="font-size: 14px;">{{ item.tipoServico }}</span>
            </button>

        <!-- <ion-list *ngIf="item.servico && item.open" no-lines> -->
        <!-- <ion-list-header *ngFor="let child of listServicoResposta; let j = index" no-padding text-wrap> -->
        <!-- <button ion-item *ngIf="listServicoResposta" class="child" detail-none>
                        <p><b>Observação do cliente:</b></p>
                        <p>{{ child.descricaoServicoCotacao }}</p>
                    </button> -->

        <!-- </ion-list-header> -->
        <!-- </ion-list> -->
    </ion-list-header>


    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>