<ion-header>

    <ion-navbar color="navbarColor">
        <ion-title>{{ 'NOVO_ORCAMENTO' | translate }}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-list-header *ngFor="let item of listServicoResposta; let i = index" no-lines no-padding class="list-header-botton">
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-left name="add" *ngIf="!item.open"></ion-icon>
            <ion-icon item-left name="close" *ngIf="item.open"></ion-icon>
            <span style="font-size: 14px;">{{ item.tipoServico }}</span>
        </button>

        <ion-list *ngIf="item.tipoServico && item.open">
            <ion-list-header *ngFor="let child of listServicoRespostaChild; let j = index" text-wrap>
                <ion-label *ngIf="listServicoRespostaChild">
                    <span style="font-size: 14px;">{{ child.servico }}</span>
                </ion-label>
                <ion-checkbox color="dark" [checked]="serviceChecked" (click)="servicosChecked(child.idServico)"></ion-checkbox>

            </ion-list-header>
        </ion-list>
    </ion-list-header>


    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

<ion-footer *ngIf="listaServicos?.length > 0">
    <ion-grid>
        <ion-row>
            <ion-col no-padding>
                <button no-margin ion-button full icon-end color="navbarColor" (click)="verificaServicosSelecionados()">
                    <span class="span-style"  style="font-size: 12px; color: #000;">{{ 'BTN_PROXIMO' | translate }}</span>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>