<ion-header>

    <ion-navbar color="navbarColor">
        <ion-title>{{ 'NOVO_ORCAMENTO' | translate }}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-list-header *ngFor="let item of listServicoResposta; let i = index" no-lines no-padding>
        <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-left name="add" *ngIf="!item.open"></ion-icon>
            <ion-icon item-left name="close" *ngIf="item.open"></ion-icon>
            <span style="font-size: 14px;">{{ item.tipoServico }}</span>
        </button>

        <!-- <ion-list *ngIf="item.tipoServico && item.open" no-lines> -->
        <ion-list *ngIf="item.tipoServico && item.open">
            <!-- <ion-list-header *ngFor="let child of listServicoResposta; let j = index" no-padding text-wrap> -->
            <!-- <button ion-item *ngIf="listServicoResposta" class="child" detail-none> -->
            <ion-list-header *ngFor="let child of listServicoRespostaChild; let j = index" no-padding text-wrap>
                <ion-label color="dark" *ngIf="listServicoRespostaChild">
                    <span style="font-size: 14px;">{{ child.servico }}</span>
                </ion-label>
                <!-- <button ion-item *ngIf="listServicoRespostaChild" class="child" detail-none>
                    <span style="font-size: 14px;">{{ child.servico }}</span>
                </button> -->
                <ion-checkbox color="dark" (click)="servicosChecked(child.idServico)"></ion-checkbox>

            </ion-list-header>
        </ion-list>
    </ion-list-header>


    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>