<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>
            <span>{{ 'VAGAS_DESTAQUE' | translate }} </span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">

    <!-- <div padding text-wrap> -->
    <!-- <div padding text-wrap *ngIf="vagas?.length != 0">
        <span>
        Aqui estão algumas vagas em destaque. Para aproveitar ao máximo a plataforma, faça login e encontre muitas outras vagas.
      </span>
    </div> -->

    <ion-card text-wrap *ngIf="vagas?.length != 0">
        <ion-card-content>
            <span>
                Aqui estão algumas vagas em destaque. Para aproveitar ao máximo a plataforma, faça login e encontre muitas outras vagas.
              </span>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <!-- <ion-card-header>
            Header
        </ion-card-header> -->
        <ion-card-content *ngFor="let vaga of vagas" style="padding-left: 10px; padding-top: 5px; margin-bottom: -15px;" (click)="getIdVaga(vaga.idVaga)">
            <!-- <ion-card-content *ngFor="let vaga of vagas" style="padding-left: 10px; padding-top: 5px; margin-bottom: -15px;" (click)="candidatarVaga(vaga.idVaga)"> -->
            <!-- <p><b>{{vaga.nome}}</b></p>
            <p>{{vaga.cidadeEstadoFormat}}</p>
            <p style="color: #999">
                <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{vaga.tempoAberto}}
            </p> -->
            <ion-label>
                <h4><strong>{{ vaga.nome }}</strong></h4>
                <h4></h4>
                <button ion-button clear icon-only class="button-position">
                    <ion-icon name="home" (click)="candidatarVaga(vaga.idVaga)"></ion-icon>
                  </button>
                <!-- <button ion-button clear item-end class="button-position" (click)="candidatarVaga(vaga.idVaga)"> Detalhes 
                  </button> -->
                <h4 style="color: #999">
                    <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{ vaga.tempoAberto }}
                </h4>
            </ion-label>
            <hr>
        </ion-card-content>
    </ion-card>

    <!-- <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" *ngIf="vagas?.length == 0">
        <div style="text-align: center;color: #484848;"><strong>{{ 'SEM_VAGAS_DESTAQUE' | translate }}</strong></div>
        <div style="text-align: center;">
            <ion-icon style="font-size: 30px;color: #484848;" ios="ios-sad" md="md-sad"></ion-icon>
        </div>
    </div> -->

</ion-content>

<ion-footer *ngIf="vagas?.length != 0">
    <ion-grid>
        <ion-row>
            <ion-col no-padding>
                <button no-margin ion-button full icon-end color="navbarColor" (click)="openLoginPage()">
                    <span class="span-style span-style-color"  style="font-size: 12px;">LOGIN/SIGN UP</span>
                    <!-- <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon> -->
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>