<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>
            <span>{{ 'VAGAS_DESTAQUE' | translate }} </span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">

    <!-- <div padding text-wrap *ngIf="vagas?.length != 0"> -->
    <!-- <div padding text-wrap>
        <span>
        Aqui estão algumas vagas em destaque. Para aproveitar ao máximo a plataforma, faça login e encontre muitas outras vagas.
      </span>
    </div> -->

    <ion-card text-wrap>
        <ion-card-content>
            <span>
                Aqui estão algumas vagas em destaque. Para aproveitar ao máximo a plataforma, faça login e encontre muitas outras vagas.
              </span>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <!-- <ion-card-header>
            Header
        </ion-card-header> -->
        <ion-card-content *ngFor="let vaga of vagas" style="padding-left: 10px; padding-top: 5px; margin-bottom: -15px;" (click)="getIdVaga(vaga.idVaga)">
            <p>{{vaga.nome}}</p>
            <!-- <p>{{vaga.descricao}}</p> -->
            <p>{{vaga.cidadeEstadoFormat}}</p>
            <p style="color: #999">
                <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{vaga.tempoAberto}}
            </p>
            <hr>
            <!-- The British use the term "header", but the American term "head-shot" the English simply refuse to adopt. -->
        </ion-card-content>
    </ion-card>

    <!-- <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" *ngIf="vagas?.length == 0">
        <div style="text-align: center;color: #484848;"><strong>{{ 'SEM_VAGAS_DESTAQUE' | translate }}</strong></div>
        <div style="text-align: center;">
            <ion-icon style="font-size: 30px;color: #484848;" ios="ios-sad" md="md-sad"></ion-icon>
        </div>
    </div> -->

</ion-content>