<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>
            <span> Destaques </span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">

    <ion-card text-wrap *ngIf="vagas?.length != 0">
        <ion-card-content>
            <span>
                Aqui estão algumas prestadores em destaque. Para aproveitar ao máximo a plataforma, faça login e encontre muitos outros prestadores de serviços.
              </span>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content *ngFor="let fornecedor of fornecedores" style="padding-left: 10px; padding-top: 5px; margin-bottom: -15px;" (click)="getIdFornecedor(fornecedor.idFornecedor)">
            <p><b>{{fornecedor.nome}}</b></p>
            <!-- <p>{{vaga.descricao}}</p> -->
            <p>{{fornecedor.cidadeEstadoFormat}}</p>
            <hr>
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer *ngIf="fornecedores?.length != 0">
    <ion-grid>
        <ion-row>
            <ion-col no-padding>
                <button no-margin ion-button full icon-end color="navbarColor" (click)="openLoginPage()">
                    <span class="span-style span-style-color"  style="font-size: 12px;">LOGIN/SIGN UP</span>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>