page-modal-imagem-fornecedor {
    .icon-style-images {
        font-size: 30px;
        color: #484848;
    }
    .div-style-images {
        text-align: center; 
        color: #484848;
    }
    .div-margin-images {
        margin-top: 50px;
    }

}
