<ion-header>

    <ion-navbar color="navbarColor">
        <ion-title>{{ 'MAIS_DETALHES' | translate }}</ion-title>
        <ion-buttons start>
            <button ion-button (click)="closeModal()">
      <ion-icon ios="ios-close" md="md-close"></ion-icon>
    </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <p text-wraper>Você pode escolher uma data para o atendimento e uma observação, caso ache necessário.</p>
    <form [formGroup]="lancarOrcamentoForm" (ngSubmit)="submeterOrcamento()">

        <ion-item (click)="selecionaDataSolicitacao()">
            <ion-label stacked style="color: #484848">Data do Atendimento</ion-label>
            <!-- <ion-datetime disabled="true" name="data" displayFormat="DD/MM/YY" [(ngModel)]="agendamento.data"></ion-datetime> -->
            <ion-datetime formControlName="dataSolicitacao" color="dark" name="dataSolicitacao" displayFormat="DD/MM/YYYY" [(ngModel)]="dataSolicitacao"></ion-datetime>
            <!-- <ion-datetime formControlName="dataSolicitacao" disabled="true" name="dataSolicitacao" displayFormat="DD/MM/YYYY" [(ngModel)]="orcamentoEntity.dataSolicitacao"></ion-datetime> -->
        </ion-item>

        <ion-item>
            <ion-label stacked>Quantidade</ion-label>
            <ion-textarea formControlName="quantidade" color="dark" maxLength="100" [(ngModel)]="orcamentoEntity.quantidade" type="number" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-textarea>
        </ion-item>
        <div *ngIf="lancarOrcamentoForm.get('quantidade').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 100 caracteres</div>

        <ion-item>
            <ion-label stacked>Observação</ion-label>
            <ion-textarea formControlName="descricao" color="dark" maxLength="100" [(ngModel)]="orcamentoEntity.descricao" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-textarea>
        </ion-item>
        <div *ngIf="lancarOrcamentoForm.get('descricao').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 100 caracteres</div>

        <div>
            <button ion-button block type="submit" color="button-save-color" class="margin-button-save span-style-color" [disabled]="desabilitaBotao">ENVIAR ORÇAMENTO</button>
        </div>
    </form>

</ion-content>