page-orcamento-principal {
    .ion-card-header-style {
        text-align: left;
        color: #fff;
        background-color: #424242;
        height: 55px;
    }
    .card-abertas-color {
        background-color: geen;
        opacity: 0.8;
    }
    .card-pendentes-color {
        background-color: #00008B;
        opacity: 0.8;
    }
    .card-escolhidos-color {
        background-color: #CD3700;
        opacity: 0.8;
    }
    .card-concluidos-color {
        background-color: green;
        opacity: 0.8;
    }
    .h2-color-cards {
        color: #000;
    }
    // .icon-color-cards {
    //     color: #fff;
    // }
}