page-orcamento-principal {
    .ion-card-header-style {
        text-align: left;
        color: #fff;
        background-color: #424242;
        height: 55px;
    }
    .card-abertas-color {
        color: green;
        // opacity: 0.8;
    }
    .card-pendentes-color {
        color: #00008B;
        // opacity: 0.8;
    }
    .card-escolhidos-color {
        color: #CD3700;
        // opacity: 0.8;
    }
    .card-concluidos-color {
        color: green;
        // opacity: 0.8;
    }
    .h2-color-cards {
        color: #484848;
    }
    // .icon-color-cards {
    //     color: #fff;
    // }
}