page-orcamento-principal {
    .ion-card-header-style {
        text-align: left;
        color: #fff;
        background-color: #424242;
        height: 55px;
    }
    .card-abertas-color {
        background-color: green;
    }
    .card-pendentes-color {
        background-color: green;
    }
    .card-escolhidos-color {
        background-color: green;
    }
    .card-concluidos-color {
        background-color: green;
    }
    .h2-color-cards {
        color: #fff;
    }
}