<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Login
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <form [formGroup]="loginForm" (ngSubmit)="submeterLogin()">

        <ion-item>
            <ion-label stacked color="dark">{{ 'EMAIL' }}</ion-label>
            <!-- <ion-input [(ngModel)]="usuarioEntity.login" formControlName="login" type="email" placeholder="Ex.: nome@email.com" spellcheck="false" autocapitalize="off"></ion-input> -->
            <ion-input formControlName="login" type="email" placeholder="Ex.: {{ 'PLACE_EMAIL' }}" spellcheck="false" autocapitalize="off"></ion-input>
        </ion-item>
        <div *ngIf="(!loginForm.get('login').valid && loginForm.get('login').touched) && !loginForm.get('login').hasError('pattern')" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' }}</div>
        <div *ngIf="loginForm.get('login').hasError('pattern')" [ngClass]="'class-error-form'">{{ 'EMAIL_INVALIDO' }}</div>

        <ion-item>
            <ion-label stacked color="dark">{{ 'SENHA' }}</ion-label>
            <!-- <ion-input [(ngModel)]="usuarioEntity.senha" formControlName="senha" type="password" placeholder="Digite sua senha"></ion-input> -->
            <ion-input formControlName="senha" type="password" placeholder="{{ 'DIGITE_SENHA' }}"></ion-input>
        </ion-item>
        <div *ngIf="!loginForm.get('senha').valid && loginForm.get('senha').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' }}</div>

        <button ion-button block type="submit" color="navbarColor" class="margin-button-save" style="color: #484848;">{{ 'ENTRAR' }}</button>
    </form>

    <div class="forgot-pass-style-div">
        <a (click)="goRecuperarSenha()" class="botao01">{{ 'ESQUECI_SENHA' }}</a>
    </div>

</ion-content>